#a {
      position: relative;
      left: 20%;
      border-radius: 5px;
 }

#b {
      position: relative;
      left: 20%;
      border-radius: 5px;
 }
 #c {
      position: relative;
      left: 20%;
      border-radius: 5px;
 }
 #d {
      position: relative;
      left: 20%;
      border-radius: 5px;
 }